.dpCoverflow {
  -webkit-perspective:1000px;
  -webkit-perspective-origin:center 33%;
  -webkit-transform-style: preserve-3d;
  list-style: none;
  position:relative;
  width:100%;
  height:225px;
  overflow:hidden;
  margin-bottom:-25px;
  -webkit-mask-image:-webkit-gradient(linear, left top, right top, from(rgba(0,0,0,.7)), color-stop(0.5, black), to(rgba(0,0,0,.7)));
}
.dpCoverflow li {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 150px;
  margin-left: -100px;
  margin-top: -110px;
  -webkit-transition: -webkit-transform .6s cubic-bezier(0, 1, 1, 1);
  background-color:#fff;
}
.dpCoverflow .photon-shader {
  pointer-events:none;
}
.dpCoverflow a {
  display:table-cell;
  width:200px;
  height:150px;
  vertical-align:middle;
  text-align:center;
}
.dpCoverflow img {
  width: 196px;
}
.dpCoverflow.hasShadow li {
}
.dpCoverflow.hasReflection li {
  -webkit-box-reflect:below 1px;
}
.dpCoverflow.hasReflection li:after {
  content:'\00a0';
  display:block;
  position:absolute;
  left:-1px;
  right:-1px;
  top:100%;
  height:110%;
  background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.25)), color-stop(0.35, white), to(white));
}

@media all and (max-width: 320px) {
  .dpCoverflow {
    -webkit-transform-origin:left top;
    -webkit-transform:scale(0.66);
    width:150%;
    margin-bottom:-75px;
  }
}




div.reel {
  margin-bottom:0;
}
#wrap {
  margin-top:0;
  padding-top:0;
}
.hidden {
  display:none;
}